.container {
    width: 658px;
    height: 150px;
    margin-bottom: 12px;
    border-radius: 3px;
    box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10,10,10,0.1), 0px 1px 2px rgba(10,10,10,0.1), 0px 0px 1px rgba(10,10,10,0.8));
    padding-left: 50px;
}

.title {
    width: 554px;
    height: 32px;
    padding: 16px 16px 0 0px;
    font-size: 27px;
    box-sizing: content-box;
}

.tags {
    height: 16px;
    width: 554px;
}

.author {
    height: 16px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color:rgb(102, 102, 102);
    display: flex;
    flex-direction: row;
}

.date {
    margin-left: 3px;
}
