.profile-avatar {
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.profile {
    padding: 16px;
    font-size: 20pt;
}

.profile-editing {
    padding: 16px;
    font-size: 16pt;
}

.profile.p {
    padding: 16px;
}

#profile-offers-header {
    text-align: center;
}

.review-name {
    float: right;
}

.review-body {
    float: left;
}

#profile-reviews-header {
    text-align: center;
}

.offer-body {
    float: left;
}

.offer-price {
    float: right;
}

.offer-title {
    text-align: center;
    margin-bottom: 0.3em;
}

.profile-offer {
    padding-bottom: 3em;
    min-height: 5em;
}

.profile-review {
    padding-bottom: 1em;
    min-height: 5em;
}

.review-rating {
    margin-top: .5em;
}

.review-name {
    display: inline;
}

#submit-review-btn {
    margin-left: 1em;
}

#user-review {
    min-height: 5em;
}

#profile-ratings {
    font-size: 50%;
}
