#search-container {
    margin-left: 24px;
}

.searchBarContainer{
    width:50%;
    position: relative;
    top: 20px;
}

.filter-label {
    margin-right: 1em;
}

#filter-container {
    padding-top: 2em;
}

#filter-form {
}

#search-items {
    margin-top: 1em;
}

#filter-container {
    margin-top: 4em;
    margin-left: 2em;
    padding-left: 0.2em;
}

#gender-radio-field {
    margin-right: 1em;
}

.profile-btn {
    margin-left: 2em;
    margin-bottom: 1em;
    display: inline-block;
}

#search-container {
    padding-top: 10px;
}

#clear-filters-btn {
    margin-bottom: 1em;
}